

<div class="containter">

<div class="hero">
	<h1>Welcome to Examgoose </h1>
</div>


	<div class="row">
		<div class="span4">
		<h2>test</h2>
		</div>
		
		<div class="span4">
		<h2>test</h2>
		</div>

		<div class="span4">
		<h2>test</h2>
		</div>
	</div>
</div>

