<div class="hero">
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Test your knowldge</h3>
    Bla bla <br />
    bla bla
  </div>

  <div class="col-sm-4">
    <h3>Real interview problems</h3>
    Bla bla <br />
    bla bla
  </div>

  <div class="col-sm-4">
    <h3>Feature 3</h3>
    Bla bla <br />
    bla bla
  </div>

	<br class="clr" />


	<div class="sign-up col-xs-4 col-xs-offset-4 text-center">
		<h2>Get started</h2>
		<h3><%= link_to "Sign up for free", new_user_registration_path, :class => "btn btn-primary btn-lg" %></h3>
	</div>

</div>