<br/>

<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
            <li><a href="#questions" data-toggle="tab">Questions</a></li>
            <li><a href="#interviews" data-toggle="tab">Interviews</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="dashboard">
                <h1>Dashboard</h1>
                
            </div>
            <div class="tab-pane" id="questions">
                <br/>
                <div class="panel panel-default span8">
                    <div class="panel-heading">Panel heading</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Topic</td>
                                <td>Question</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>    
            </div>

            <div class="tab-pane" id="interviews">
                <h1>Interviews</h1>
                
            </div>
            <div class="tab-pane" id="users">
                <h1>Users</h1>
                
            </div>
        </div>
    </div>
</div>
