<div class="hero">
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Test your knowldge</h3>
    Bla bla <br />
    bla bla
  </div>

  <div class="col-sm-4">
    <h3>Real interview problems</h3>
    Bla bla <br />
    bla bla
  </div>

  <div class="col-sm-4">
    <h3>Feature 3</h3>
    Bla bla <br />
    bla bla
  </div>

	<br class="clr" />

	<div class="sign-up col-xs-8 col-xs-offset-2 text-center">
		<h2>Get started</h2>
    
    <%= simple_form_for Optin.new do |f| %>
      <div class="simple_form form-inline">    
        <div class="form-group">
          <%= f.input :name, placeholder: 'Name', label: false %>
        </div>
        
        <div class="form-group">
          <%= f.input :email, :placeholder => 'Email', label: false %>
        </div>

        <%= f.submit 'Get notified', :class => 'btn btn-success btn-sm' %>
      </div>
    <% end %>        

	</div>

</div>
