
<br />
<br />
<br />

<div class="sign-up col-xs-10 col-xs-offset-1 text-center">
<%= image_tag 'emailplane.png', :id => 'thanksimg' %>
<h2>Thanks for giving us your e-mail!</h2>
<p>We'll let you know as soon as we're live so you can CRUSH that interview!</p>
</div>