<div class="head col-xs-12 features text-center">
<h1>How to use this Resource:</h1>
</div>
<br><br><br>

<div class="course-head col-xs-8 col-xs-offset-2 features text-center">
<h2>What is a technical interview?</h2><br>
<h2>How do they work?</h2><br>
<h2>How to prepare.</h2>
</div>
<br><br><br><br>
<div class="courses col-xs-4 col-xs-offset-4 features text-center">
    <h3>Give me one for free</h3>
</div>
