<div class="head col-xs-12 features text-center">
<h1><%= "Welcome, #{current_user.email}. You're signed in." %></h1>
</div>
<br><br>

<div class="course-head col-xs-12 features text-center">
<h2>Course selections</h2>
</div>
<br>
<div class="courses col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Ruby</h3>
    Get ready for your technical interview with curated questions for the subject of your choosing. <br />
  </div>

  <div class="col-sm-4">
    <h3>Python</h3>
    Interview questions that commonly show up in your selected interview type, and  how to nail them.<br />
  </div>

  <div class="col-sm-4">
    <h3>Javascript</h3>
    The first set of questions are free, and you have the option to unlock more for just $5.
  </div>
</div>
