<h2>Interview!</h2>
<h2><%= @interview.title %></h2>
<p><%= @interview.description %></p>

<% @interview.questions.each do |question| %>
	<p> <%= question.problem %> <br>
	<%= question.solution %><br></p>
<% end %>
