$footer-height: 100px;



/* Set the fixed height of the footer here */
#footer {
  height:$footer-height;
  color:white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  font-weight:100;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}


#footer a {
  color:white;
  font-weight:100;
}

.social img {
  height:25px;
  margin-left:10px;
}