@import "bootstrap";
@import "bootstrap-sprockets";
@import url(http://fonts.googleapis.com/css?family=Raleway:700);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);

.clr {
  clear:both;
}

main {
  margin-bottom:100px;
}

body {
  background: url('/assets/notebook.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  /*background-color: black;*/
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  top: 20px;
  margin:20px 0px 15px 0px;
  padding: 20px;
}


.course-head h2{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
}

.courses{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #0B486B;
}

.courses h3{
  padding: 5px 0px 10px 0px;
  color: #DCE8E7;
}


.btn-success {
  background-color:#3B8686;
  border-color:#3B8686;
  border-radius:0;
  font-family: 'Fira Sans', sans-serif;
  font-weight:100;
  font-size:30px;
}

.btn-success:hover {
  background-color:#3E4B59;
  border-color:#2B343E;
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-weight:100;
}
