@import "bootstrap";
@import "bootstrap-sprockets";
@import url(http://fonts.googleapis.com/css?family=Raleway:700);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background: url('/assets/notebook.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  /*background-color: black;*/
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  top: 20px;
  margin:20px 0px 15px 0px;
  padding: 20px;
}

.navbar.navbar-inverse {
  font-family: 'Raleway', sans-serif;
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
  color: #DCE8E7;

  font-size: 26px;
}

.hero {
 background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:450px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.clr {
  clear:both;
}

.sign-up {
  margin-top: 15px;
}

.head h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
}



.course-head h2{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
}



.courses{
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  border: 3px solid #7f8c8d;
  background-color: #95a5a6;
  margin-top: 40px;

}

.courses h3{
  margin: 20px 0px 20px 0px;
}


//devise forms

.form-box {
    float: none;
    margin: 0 auto;
    top: 50px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.form-box span{
    color: #888;
}

.form-box h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}

.form-box label {
    display: block;
    margin: 0px 0px 5px;
}
