<br/>

<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
            <li class="active"><a href="#questions" data-toggle="tab">Questions</a></li>
            <li><a href="#interviews" data-toggle="tab">Interviews</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane" id="dashboard">
                <h1>Dashboard</h1>
                
            </div>
            <div class="tab-pane active" id="questions">
                <br />
                    <button type="button" class="btn btn-danger">New question</button>
                <br />
                <br />
                
                <% @topics.each do |topic| %>
                    <h3><%= topic.title %></h3><br/>
                    <% topic.questions.each_with_index do |question, i| %>
                        <h4><%= i+1 %> <%= question.problem %></h4> 
                        <%= question.solution %>
                    <% end %>
                <% end %>

                
            </div>

            <div class="tab-pane" id="interviews">
                <h1>Interviews</h1>
                
            </div>
            <div class="tab-pane" id="users">
                <h1>Users</h1>
                
            </div>
        </div>
    </div>
</div>
