<br style="clear:both" />

<div id="footer">
  <div class="container">
    <div class="col-xs-6 col-sm-3">
      <b>Teachers</b>
      <br />
      <a href="#">Something</a>
      <br />
      <a href="#">Something Else</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <b>About</b>
      <br />
      <a href="#">Team</a>
      <br />
      <a href="#">Careers</a>
      <br />
      <a href="/privacy">Privacy Policy</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <b>Contact</b>
      <br />
      team@examgoose.com
      <br />
      Boston &amp; Germany
      <br />
      Built as part of theFirehoseProject
    </div>
    <div class="col-xs-6 col-sm-3 social">
      <b>Social</b>
      <br />
      <br />
      <%= image_tag 'github.png' %>  
      <%= image_tag 'facebook.png' %>
      <%= image_tag 'twitter.png' %>
    </div>
  </div>
</div>