<!-- Modal -->
<div class="modal fade" id="interviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add new question</h4>
      </div>
      <div class="modal-body row">
        <%= simple_form_for @interview, :url => admin_interviews_path do |f| %>
       <%= f.association :question_ids, as: :select %>   
	   </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Add', :class => 'btn btn-danger' %>
	  <% end %>
      </div>
    </div>
  </div>
</div>